*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin

/.idea/shelf/
/.idea/shelf/Uncommitted_changes_before_Update_at_31_10_2025_09_10_[Changes]1/
/.idea/shelf/Uncommitted_changes_before_Update_at_31_10_2025_09_10_[Changes]/
